.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (max-width: 768px) {
  header h1 {
    font-size: 20px !important; /* Força o valor do tamanho da fonte */
    line-height: 1.2 !important;
    text-align: center !important;
  }

  header p {
    font-size: 12px !important;
    line-height: 1.4 !important;
    text-align: center !important;
    max-width: 100%;
    margin: 5px 0 !important;
  }
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* Para telas pequenas, mostre a imagem em cima do texto */
@media (max-width: 768px) {
  .profile-section {
    flex-direction: column; /* Alterar para coluna para empilhar a imagem e o texto */
  }

  .profile-img {
    order: -1; /* Faça a imagem aparecer primeiro */
    margin-bottom: 20px; /* Adicione uma margem inferior para espaçamento */
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-effect {
  background: linear-gradient(45deg, #007bff, #00c6ff, #76cccc, #0f88eb);
  background-size: 300% 300%;
  animation: gradient-animation 10s ease infinite;
}


  /* Ajuste o tamanho do botão no currículo */
  #curriculo a {
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    font-size: 0.9rem;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
