.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* Para telas pequenas, mostre a imagem em cima do texto */
@media (max-width: 768px) {
  .profile-section {
    flex-direction: column; /* Alterar para coluna para empilhar a imagem e o texto */
  }

  .profile-img {
    order: -1; /* Faça a imagem aparecer primeiro */
    margin-bottom: 20px; /* Adicione uma margem inferior para espaçamento */
  }
}
@media (max-width: 768px) {
  header {
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  header h1 {
    font-size: 1.5rem;
    line-height: 1.1;
    text-align: center;
  }

  header p {
    font-size: 0.9rem;
    line-height: 1.2;
    text-align: center;
    max-width: 90%;
  }
}




  /* Ajuste o tamanho do botão no currículo */
  #curriculo a {
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    font-size: 0.9rem;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
